<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.rockysoft.mapper.LogMapper" >
  <resultMap id="BaseResultMap" type="com.github.rockysoft.entity.Log" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="OPERATION" property="operation" jdbcType="VARCHAR" />
    <!-- 一对多配置 -->  
   <!--  
    <collection property="permissionList" ofType="java.util.Set" select="getPermissionListByRoleId" column="ROLE_ID"/>
    -->
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.roleNameLike != null" >
         <![CDATA[ and NAME LIKE '%'||#{condition.roleNameLike}||'%' ]]>
      </if>
      <if test="condition.name != null" >
         and NAME = #{condition.name}
      </if>
      <if test="condition.description != null" >
         and DESCRIPTION = #{condition.description}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    ID, USER_ID, CREATE_TIME, CONTENT, OPERATION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.github.rockysoft.entity.Criteria" >
  <!--
    <include refid="common.Oracle_Pagination_Head" />
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
    <!--
    <include refid="common.Oracle_Pagination_Tail" />
    -->
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from LOG
    where ID = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LOG
    where ID = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.github.rockysoft.entity.Criteria" >
    delete from LOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.github.rockysoft.entity.Log" useGeneratedKeys="true" keyProperty="id"  keyColumn="id" >
  	<!--
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select REPLACE(uuid(),'-','')
    </selectKey>
    -->
    insert into LOG (USER_ID, CREATE_TIME, CONTENT, OPERATION)
    values (#{userId}, #{createTime}, #{content}, #{operation})
    <selectKey resultType="java.lang.Integer" keyProperty="id"  order="AFTER">  
        SELECT LAST_INSERT_ID() AS ID  
    </selectKey> 
  </insert>
  <insert id="insertSelective" parameterType="com.github.rockysoft.entity.Log" useGeneratedKeys="true" keyProperty="id"  keyColumn="id" >
  	<!--
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select REPLACE(uuid(),'-','')
    </selectKey>
    -->
    insert into LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        NAME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name},
      </if>
      <if test="description != null" >
        #{description},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="id"  order="AFTER">  
        SELECT LAST_INSERT_ID() AS ID  
    </selectKey> 
  </insert>
  <select id="countByExample" parameterType="com.github.rockysoft.entity.Criteria" resultType="java.lang.Integer" >
    select count(*) from LOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>